<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates is work..</title>
</head>
<body>
  
<!--{{name}},  hii hello how are you<p style="color:green">rinkal</p>,{{place}}-->

<h1>welcome to the text analazer.enter your text below</h1>
<form action='/analyze' method="get">

    <textarea name='text'style="height: 45px; width: 1300px;"></textarea><br>
    <input type="checkbox" name="removepunc">remove punctition<br>
    <input type="checkbox" name="uppercse">uppercse<br>
    <button type="submit"> analize text</button>
</form>

</body>
</html>