<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <table border="5" align="center">
        <tr>
            <td>NAME</td>
            <td>REGION</td>
            <td>FLAGE</td>
        </tr>
        {% for i in ss %}
        <tr>
        <td>{{i.name.official}}</td>
        <td>{{i.region}}</td>
        <td><img src="{{ i.flags.png }}" alt="{{ i.name.common }} Flag" width="30" height="20"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>