<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestAPI - HOME</title>
</head>
<body style="background-color: rgb(20, 230, 230);">
    <center><h1>REST COUNTRY DATA</h1></center>
    <hr>
    <!-- {{data}} -->

    <table border="2" align="center">
        <tr>
            <th> Official Name</th>
            <th>Region</th>
            <th>Flages</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.name.official }}</td>
            <td>{{ i.region }}</td>
            
            <td><img src="{{ i.flags.png }}" alt="{{ i.name.common }} Flag" width="30" height="20"></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>