<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about website</title>
</head>
<body>
    <div class="container" style="text-align: center";>
        {% include 'navbar.html' %}
     <h1> services page</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A placeat mollitia
         quasi rem! Deserunt, totam esse distinctio animi, at omnis expedita veniam 
         sequi est nobis aliquam repellendus! Voluptatibus, in doloribus.</p>
         <button>contact us</button>
    </div>
</body>
</html>