<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <table border="4" align="center">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
        </tr>
        {% for i in stdata %}
        <tr>
                <td> <h3>{{i.name}}</h3></td>
                <td><h3>{{i.email}}</h3></td>
                <td><h3>{{i.number}}</h3></td>
        </tr>
        {% endfor %}
    </table>
 
   
   
</body>
</html>